input {
    width: 260px;
    padding: 12px 20px;
    margin-right: 20px;
    border: 2px solid;
    border-radius: 4px;
}

div.description {
    margin-top: 25px;
}

div.topLevel {
    margin-left: 25px;
}

